@font-face {
  font-family: Clear-Sans;
  font-weight: 100;
  src: url(/css/fonts/ClearSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: Clear-Sans;
  font-weight: normal;
  src: url(/css/fonts/ClearSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Clear-Sans;
  font-style: italic;
  src: url(/css/fonts/ClearSans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: Clear-Sans;
  font-weight: bold;
  src: url(/css/fonts/ClearSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: Clear-Sans;
  font-weight: bold;
  font-style: italic;
  src: url(/css/fonts/ClearSans-BoldItalic.ttf) format('truetype');
}
