@import './fonts.scss';

$fontcol: #111111;
$bgcol: #fafafa;
$pink: #eb00ff;
$fontfam: "Clear-Sans", sans-serif;

$mobile: 'screen and (max-width: 800px) ';
$medium: 'screen and (min-width: 801px) ';
$xlarge: ' screen and (min-width: 1400px)';
$large: ' screen and (min-width: 950px)';


body {
  padding: 0;
  margin: 0;
  background-color: $bgcol;
  font-family: $fontfam;
  color: $fontcol;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
}

header {
  min-height: 100vh;
  background-image: url("../img/purpule_bus.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h2, h1 {
    display: inline-block;
    margin: 0 3px 0 1rem;
   
    @media #{$medium} {
      margin: 1rem 5%;
    }
  
    @media #{$large} {
      margin: 1rem 15%;
    }
  
    @media #{$xlarge} {
      margin: 1rem 20%;
    }
  }

  h1 {
    margin-top: calc(5vh + 2rem) !important;
    font-size: 2rem;
    text-transform: uppercase;
    color: $pink;
    line-height: 1.5;

    @media #{$xlarge} {
      font-size: 5rem;
    }

    @media #{$large} {
      font-size: 4rem;
    }

    @media #{$medium} {
      font-size: 3rem;
    }
  }

  h2 {
    margin-top: 2em; 
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75;
    background-color: rgba($bgcol, 0.5);

    span {
      display: block;
      font-size: 0.85rem;

      &:first-of-type {
        margin-top: 1em;
      }

      &#published {
        color: lighten($fontcol, 20%);
      }
    }
  }

}

#logo-soc {
  width: 100%;
  padding: 1em 1em 0.25em 1em;
  position: absolute;
  top: 0;


  #pub-logo {
    img {
      padding: 0;
      margin: 0;
      max-height: 1.75em;
      background-color: rgba($bgcol, 0.7);
    }
  }

  #soc {
    position: fixed;
    display: flex !important;
    top: 1em;
    right: 1em;
    flex-direction: row;
    @media #{$large} {
      display: block;
    }

    i {
      color: $pink;
      margin: 0 0 0 0.5em;
      max-height: 1em;
      transition: all 0.5s;

      &:hover {
        color: $fontcol;
      }
    }
  }
}

@media #{$large} {
  #logo-soc {
    padding: 1em 2em 1em 2em;
    i {
      font-size: 1.75em;
    }
  }
}

section.text {
  margin: 3em 1em 0 1em;
  line-height: 1.75;

  h3 {
    color: $pink;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
  }

  h4 {
    font-weight: 600;
    text-transform: uppercase;
    // font-size: 0.85em;
    margin: 1em 0 0.25em 0;
    color: lighten($fontcol, 15%);
  }

  p {
    margin: 0 0 1.5em 0;
  }

  p:first-of-type {
    margin-top: 1em;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid $pink;
    color: $fontcol;
  }

  li {
    list-style-type: none;
    margin-left: 1.5em;
    margin-bottom: 1em;

    &::before {
      content: "-";
      // color: lighten($fontcol, 25%);
      margin: 0 0.5em 0 0;
    }
  }

  @media #{$medium} {
    margin: 4em 7.5% 0 7.5%;
  }

  @media #{$large} {
    margin: 4em 20% 0 20%;
  }

  @media #{$xlarge} {
    margin: 4em 25% 0 25%;
  }
}

#main {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2em 1em;
  position: relative;

  @media #{$mobile} {
    display: block;
  }
}

figure {
  @media #{$mobile} {
    height: 45vh;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}

#map_cont {
  width: 100%;
  height: 100%;
  @media #{$medium} {
    position: sticky;
    top: 0;
    height: 100vh;
  }

  div#map {
    width: 100%;
    height: 100%;
    background-color: $bgcol;
  }
}

#search_buttons {
  display: flex;

  button {
    display: inline-block;
    border: none;
    border-radius: 0;
    background-color: darken($bgcol, 15%);
    padding: 0.25em 0.75em;
    color: white;
    transition: background-color 0.5s;

    &:last-of-type {
      margin-left: 0.5em;
    }

    &:first-of-type {
      margin-right: 0.5em;
    }

    &.active {
      background-color: darken($bgcol, 50%);
    }
  }
}

#bloodhound {
  background-color: $bgcol;
  padding: 0.5em 0 1em 0;
  position: sticky;
  top: 0;

  input {
    border-radius: 0;
    border: none;
    border: 1px solid lighten($fontcol, 33%);
    padding: 0.25em 0.5em;
  }

  .tt-menu {
    background-color: lighten($bgcol, 50%);
    width: 100%;
  }

  .tt-suggestion {
    font-size: 0.85em;
    padding: 0.25em 0.5em;
    border: 1px solid darken($bgcol, 10%);
    transition: background-color 0.25s;

    &:hover {
      background-color: rgba($pink, 0.33);
    }
  }
}

div#nav {
  #selected_city {
    margin: 1em 0 2em 0;
    color: lighten($fontcol, 33%);
    font-size: 0.85em;

    span {
      display: block;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 1rem;
      color: $fontcol;
      text-decoration: underline $pink;
      margin: 0.5em 0 0 0;
    }
  }
}

.city_route {
  border-bottom: 1px solid lighten($fontcol, 66%);

  h3 {
    font-weight: normal;
    color: lighten($fontcol, 15%);
    font-size: 1rem;
    padding: 0.5em 0.25em 0.15em 0.25em;
    cursor: pointer;
    transition: background-color 0.25s, padding 0.5s, color 0.25s;

    &:hover {
      background-color: rgba($pink, 0.33);
    }
  }

  &.active {
    // background-color: darken($bgcol, 7%);
    // background-color: lighten($bgcol, 85%);
    padding-bottom: 2.5em;

    h3 {
      background-color: $pink;
      color: white;
      padding-left: 1.5em;
    }
  }
}

.route_details {
  margin: 1em 0 1.5em 1.5em;

  & > p {
    font-size: 0.85em;
    color: lighten($fontcol, 25%);
    margin: 0 0 1.25em 0; 
  }
}

button.schedule {
  border-radius: 0;
  border: none;
  background-color: lighten($pink, 25%);
  padding: 0.25em 0.75em;
  transition: color 0.5s, background-color 0.5s;

  &:hover, &.active {
    color: white;
    background-color: $pink;
  }
}

button.direction {
  border: 1px solid $pink;
  border-radius: 0;
  background-color: white;
  padding: 0.25em 0.75em;
  margin: 1em 0 1.5em 0;

  &:before {
    content: "↻";
    color: $pink;
    transition: transform 0.5s;
  }

  &.straight {
    &:before {
      transform: rotate(90deg);
    }
  }
}

.route_row {
  display: grid;
  grid-template-columns: 1fr 5em;
  margin: 0 0 1.5em 0;
  font-size: 0.85em;
  border-bottom: 1px solid darken($bgcol, 20%);
  span:first-of-type {
    margin: 0 1.5em 0 0; 
  }

  span:last-of-type {
    color: $pink;
    font-weight: 800;
  }
}

.leaflet-popup-content-wrapper {
  margin: 0;
  padding: 0.75em;

  * {
    padding: 0;
    margin: 0;
  }
}

#loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: $bgcol;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 5em;
    height: 5em;
    margin: 1em;
  }
}

footer {

  #read_more {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 4em 3em 2em 3em;
    grid-gap: 3em;

    @media #{$mobile} {
      grid-template-columns: 1fr;
    }

    h3 {
      grid-column: 1 / -1;
      text-align: center;
      font-size: 1.25em;
    }

    img {
      max-width: 100%;
    }
  }

  #donors {
    margin: 4em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;

    img {
      max-height: 5em;
      max-width: 10em;
      margin: 1em;
      width: auto;
    }
  }

  #created_texty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 4em 15% 4em 15%;

    i{
      box-sizing: content-box;
      margin: 0.5em;
      cursor: pointer;
      width: 1em;
      height: 1em;
      border: 1px solid lighten($fontcol, 50%);
      color: lighten($fontcol, 50%);
      border-radius: 50%;
      padding: 0.5em;
      font-size: 2.5em;
      line-height: 1;
      transition: all 0.5s;

      &:hover {
        border: 1px solid lighten($fontcol, 15%);
        color: lighten($fontcol, 15%);
      }
    }

    img {
      max-height: 4em;
      max-width: 90%;
    }

    div {
      text-align: center;
    }

    h3 {
      text-align: center;
      font-size: 1.5rem;
    }
  }
}